:root{
    --brown:#58280fff;
    --beggie:#e8c591ff;
    --red:#CE1126
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--beggie);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
    background-color: transparent;
    border: none;
}
input:hover{
    text-decoration: underline;
    color: white;
}
a:link{
    text-decoration: none;
    color: var(--red);
    font-weight: 400;
}
a:visited{
    text-decoration: none;
    color: var(--red);
}
ul{
    margin-left: 1.5rem;
}
li{
    text-align: left;
    margin-bottom: 0.75rem;
}
.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}

.bg-image{
    background-image: url('images/backgroundIndex.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    filter: blur(8px);

    z-index: 1;
}
.bg-text{
    color: white;
    font-weight: bold;
    border: 5px solid var(--brown);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
}
.index-title{
    margin-bottom: 10rem;
    font-size: 3.5rem;
    letter-spacing: 5px;
}
.btn-explore{
    padding: 1rem;
    background-color: var(--brown);
    color: white;
    font-size: 2rem;
}
.container{
    padding: 1.5rem;
    max-width: 50rem;
    margin: auto;
    background-color: var(--beggie);
}
.egypt-title{
    color: white;
    font-size:2.5rem;
}
.navigation{
    display: flex;
    justify-content: space-around;
    background-color: var(--brown);
    padding: 0.5rem 1rem;
    color: white;
    height: 4rem;
}
nav{
    position: sticky;
    top: 0;
}
.nav-img{
    width: 2rem;
}
.navigators{
    text-align: center;
    color: white;
}
.clicked{
    background-color:var(--beggie);
    width: 50%;
    margin: -0.6rem -1rem;
}
.clicked>.navigators{
    margin: 0.5rem;
    color: black;
}
.bg-image-egypt{
    background-image: url('images/headerImg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1rem;
}
.content{
    margin-top: 1rem;
    font-size: 1.1rem;
}
.news-title{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 500;
}
.news-title-2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.news-subtitle{
    margin: 0.5rem;
    font-weight: 400;
    font-style: italic;
}
.divider{
    border: 1px solid black;
    margin-bottom: 0.5rem;
}
.image{
    width: 100%;
    margin: 1.5rem 0rem 0rem 0rem ;
}
.subtitle{
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
.link{
    text-decoration: underline;
}
footer{
    padding: 1rem;
    background-color: var(--brown);
    color: white;
    text-align: center;
    line-height: 1.5rem;
}

